Repository pagopa/pagopa-ecommerce-reporting-functions, pull requests merged in 2025-04, with the labels that each got.

#1 [CHK-4082]: initial commit
  .github/workflows/anchore.yml
  .github/workflows/assignee.yml
  .github/workflows/check_metadata_pr.yml
  .github/workflows/check_pr.yml
  .github/workflows/deploy.yml
  .github/workflows/sonar_analysis.yml
  .java-version
  .pre-commit-config.yaml
  README.md
  helm/.helmignore
  helm/Chart.lock
  helm/Chart.yaml
  helm/values-dev.yaml
  helm/values-prod.yaml
  helm/values-uat.yaml
  pom.xml
  src/main/java/it/gov/pagopa/project/Example.java
  src/main/java/it/pagopa/ecommerce/reporting/PagopaEcommerceReporting.java
  src/test/java/it/gov/pagopa/project/ExampleTest.java
  src/test/java/it/pagopa/ecommerce/reporting/FunctionTest.java
  src/test/java/it/pagopa/ecommerce/reporting/HttpResponseMessageMock.java
Labels: ignore-for-release

#14 fix: deployment pipeline release version
  .devops/azure-templates/chart-current-version.yml
  .devops/pagopa-deploy-pipelines.yml
  .github/actions/check-pr-semver-labels/action.yml
  .github/workflows/check_pr.yml
  .github/workflows/deploy.yml
  .github/workflows/semver_release.yaml
  pom.xml
Labels: patch, chart-patch

#15 fix: deployment pipeline name
  .github/workflows/deploy.yml
Labels: skip-release

#16 fix: trigger deployment pipeline
  .devops/azure-templates/chart-current-version.yml
Labels: patch, chart-patch
